@font-face {
  font-family: 'Magra';
  src: url("assets/fonts/Magra/Magra-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Red_Hat_Text';
  src: url("assets/fonts/Red_Hat_Text/static/RedHatText-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Aleo';
  src: url("assets/fonts/Aleo/Aleo-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Aleo';
  src: url("assets/fonts/Aleo/Aleo-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Aleo';
  src: url("assets/fonts/Aleo/Aleo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Aleo';
  src: url("assets/fonts/Aleo/Aleo-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Aleo, serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth; 
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: Red_Hat_Text;
  font-size: 16px;
  color: #ffffff;
  background-color: #0D606F;
  box-shadow: 0px 2px 3px 0px #0D606F29;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #18a2bb;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.12));
  transition: ease-in-out .3s;
}

button:active {
  background-color: #0a3f49;
  box-shadow: 0px 4px 5px 0px #00000033;
  box-shadow: 0px 3px 14px 0px #0000001F;
  box-shadow: 0px 8px 10px 0px #00000024;
  transition: ease-in-out .3s;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  min-height: 90px;
}

.header-container {
  background-image: url(./assets/img/main-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.header-container::before {
  display: block;
  max-width: 1440px;
  width: 100%;
  height: 90px;
  top: 0;
  z-index: 0;
  content: '';
  position: absolute;
  background-color: #F2785C;
  opacity: 0.7;
  box-shadow: 0px 4px 4px 0px #0D606F80;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 23px 120px;
  width: 100%;
}

.logo {
  display: flex;
  gap: 6px;
  z-index: 1;
}

.logo-text {
  z-index: 1;
  font-family: Magra;
  font-size: 32px;
  font-weight: 600;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  list-style: none;
  margin-left: -30px;
  font-size: 16px;
  line-height: 44px;
}

.nav-item {
  z-index: 1;
}

.nav-link {
  font-family: Red_Hat_Text;
}

.nav-link:hover {
  font-weight: bold;
  color:#0D606F;
  transition: ease-in-out .3s;
}

.visually-hidden {
  display: none;
}

.login-button {
  padding: 10px 30px;
  z-index: 1;
}

.main-title {
  padding-bottom: 32px;
  font-size: 80px;
  font-weight: 700;
  line-height: 96px;
}

.section-title {
  padding-bottom: 40px;
  font-family: Red_Hat_Text;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #F2785C;
}

.preview {
  padding-top: 32px;
  padding-left: 120px;
  padding-bottom: 254px;
  background-image: url(./assets/img/main-background.jpg);
  background-position-y: -90px;
}

.preview-content {
  width: 892px;
}

.preview-text {
  padding-bottom: 46px;
  font-weight: 700;
  font-style: italic;
}

.search-label {
  width: 892px;
  position: relative;
}

.search-input {
  width: 100%;
  height: 95px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 16px;
}

.search-input::placeholder {
  padding: 32px 41px 41px;
  font-style: italic;
  font-size: 24px;
  color: #F2785C;
}

.search-button {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 228px;
  height: 59px;
  font-size: 24px;
}

.steps {
  padding-top: 80px;
  background-color: #ffffff;
}

.steps-list {
  display: flex;
  justify-content: space-between;
  margin: 0 131px;
  padding-bottom: 97px;
  color: #0D606F;
  list-style: none;
}

.steps-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.step-item-center {
  margin-left: 70px;
}

.step-icon-bg {
  display: flex;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  align-self: center;
  background-color: #F2785C;
  border-radius: 16px;
}

.step-icon {
  margin: auto;
}

.destinations {
  overflow: hidden;
  padding-bottom: 80px;
  background-color: #ffffff;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.slider-list {
  display: flex;
  align-self: center;
  gap: 60px;
  padding-top: 6px;
  padding-bottom: 18px;
  list-style: none;
}

.slider-image {
  border-radius: 16px;
}

.slider-item-figure {
  position: relative;
}

.slider-description {
  position: absolute;
  left: 15px;
  bottom: 46px;
  font-family: Red_Hat_Text;
  font-size: 32px;
  text-transform: uppercase;
  color: #ffffff;
}

.pagination-list {
  display: flex;
  gap: 10px;
  align-self: center;
  padding-bottom: 34px;
  list-style: none;
}

.arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  width: 228px;
  height: 59px;
  font-size: 24px;
}

.stories {
  background-color: #ffffff;
}

.stories-cards {
  position: relative;
  z-index: 1;
  padding: 40px 120px;
  background-image: url(./assets/img/stories-background.jpg);
}

.stories-cards::before {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0.7;
}

.card {
  display: flex;
  gap: 40px;
  z-index: 1;
  padding-bottom: 30px;
}

.card-image {
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px #0D606F);
}

.card-description {
  z-index: 1;
  color: #0D606F;
}

.card-title {
  padding-bottom: 24px;
  font-size: 35px;
  line-height: 42px;
}

.stories-button {
  position: relative;
  z-index: 1;
  margin-top: 10px;
}

.read-more {
  font-weight: 700;
  text-decoration: underline;
}

.read-more:hover {
  cursor: pointer;
  color: #F2785C;
  transition: ease-in-out .3s;
}

.footer {
  min-height: 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 120px;
  background-image: url(./assets/img/stories-background.jpg);
  background-position-y: bottom;
}

.left-icons-list {
  display: flex;
  gap: 20px;
  list-style: none;
  color: #f8f8f8;
}

.copywrite-text {
  font-family: Red_Hat_text;
  font-size: 16px;
}

.socials-list {
  display: flex;
  gap: 20px;
  height: 34px;
  list-style: none;
  color: #f8f8f8;
}

.left-icon:hover,
.social-icon:hover {
  color: #F2785C;
  transition: ease-in-out .3s;
}


@media (max-width: 1200px) {

  .logo-text {
    font-size: 16px;
    width: 40px;
  }

  .nav-list {
    margin-left: 0;
    gap: 20px;
  }
}

@media (max-width: 1024px) {

  .header-content {
    padding-left: 60px;
    padding-right: 60px;
  }

  .nav-list {
    font-size: 12px;
  }

  .login-button {
    font-size: 12px;
  }
}

@media (max-width: 768px) {

  .header-content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .logo-text {
    display: none;
  }

  .nav-list {
    gap: 10px;
  }

  .login-button {
    padding: 4px 15px;
    font-size: 12px;
  }
}


@media (max-width: 390px) {

  .header {
    height: 75px;
    min-height: 75px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-container {
    justify-content: space-between;
    background-image: url(./assets/img/mobile-background.jpg);
  }

  .header-container::before {
    min-width: 320px;
    height: 250px;
    left: 0;
    background: linear-gradient(180deg, #0D606F 5%, rgba(13, 96, 111, 0) 25.1%);
    box-shadow: none;
  }

  .header-content {
    padding: 0;
  }

  .logo {
    margin: 45px 0 0 0;
  }

  .burger {
    display: block;
    position: absolute;
    top: 43px;
    right: 0;
    margin-right: 20px;
    width: 35px;
    height: 32px;
    background-color: transparent;
    background-image: url(./assets/img/burger.svg);
  }

  .nav-close {
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url(./assets/img/close.svg);
    border: none;
  }

  .burger,
  .nav-close {
    box-shadow: none;
  }
  
  .visually-hidden {
    display: block;
  }

  .navigation {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 5;
    padding-right: 16px;
    top: 0;
    right: -165px;
    font-size: 16px;
    background-color: #F2785C;
    border-radius: 10px;
    box-shadow: 0px 4px 3px 0px #0D606F40;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-end;
    padding-top: 44px;
    padding-bottom: 30px;
    padding-left: 44px;
    gap: 10px;
  }

  .nav-link {
    padding: 0;
  }

  .login-button,
  .logo-text,
  .main-title,
  .preview-text {
    display: none;
  }

  .preview {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 67px;
    padding-left: 0;
    padding-bottom: 61px;
    background-image: url(./assets/img/mobile-background.jpg);
    background-position-y: -75px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .preview-content {
    width: 100%;
  }

  .search-label {
    width: min-content;
    margin: 0 15px;
  }

  .search-input {
    position: relative;
    max-width: 720px;
    min-width: 360px;
    /* width: 720px; */
    height: 48px;
  }

  .search-input::placeholder {
    padding-top: 16px;
    padding-left: 16px;
    font-size: 14px;
  }

  button,
  .search-button,
  .arrow-button {
    width: 92px;
    height: 30px;
    font-size: 11px;
    border-radius: 10px;
  }

  .search-button {
    position: absolute;
    top: 9px;
    right: 9px;
  }

  .section-title {
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }

  .steps,
  .destinations,
  .stories {
    padding-top: 20px;
  }

  .steps-list {
    margin: 0;
    padding-bottom: 0;
    font-size: 10px;
  }

  .steps-item {
    gap: 2px;
    justify-content: end;
  }

  .step-item-center {
    flex-grow: 5;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 100%;
  }

  .step-item-left {
    position: relative;
    text-align: left;
    flex-grow: 1;
  }

  .step-item-right {
    position: relative;
    text-align: right;
    flex-grow: 1;
  }

  .step-icon-bg {
    width: 70px;
    height: 70px;
    margin-bottom: 19px;
  }

  .step-icon-bg-left {
    position: absolute;
    left: 0;
    top: 0;
  }

  .step-icon-bg-right {
    position: absolute;
    right: 0;
    top: 0;
  }

  .step-icon {
    height: 70%;
    width:70%;
    margin-bottom: 19px;
  }

  .responsive {
    width: 50%;
    height: auto;
  }
  
  .slider {
    position: relative;
    margin-top: 1px;
  }

  .slider-list {
    padding-top: 0;
    padding-bottom: 0;
    gap: 30px;
    align-self: flex-start;
  }

  .desktop {
    display: none;
  }

  .slider-description {
    top: 8px;
    font-size: 20px;
  }

  .slider-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
  }

  .pagination-list {
    margin-top: -20px;
    padding-bottom: 0;
    z-index: 1;
    gap: 6px;
  }

  .arrow-button {
    margin-top: 22px;
  }

  .destinations {
    padding-bottom: 0;
  }

  .stories {
    margin-left: -15px;
    margin-right: -15px;
  }

  .stories .section-title {
    padding-bottom: 10px;
  }

  .stories-cards {
    padding: 10px 15px;
    background-image: url(./assets/img/Stories-background-mobile.jpg);
  }

  .card {
    gap: 10px;
    padding-bottom: 15px;
  }

  .card-description {
    position: relative;
    height: 128px;
  }

  .card-title {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 11px;
    line-height: 13.2px;
    font-weight: 700;
  }

  .card-text {
    height: 87px;
    overflow: hidden;
    font-size: 9px;
    padding: 0;
  }

  .read-more {
    position: absolute;
    bottom: 0;
    margin-top: -16px;
    font-size: 9px;
  }

  .stories-button {
    margin-top: -5px;
    margin-bottom: 3px;
  }

  .footer {
    min-height: 65px;
  }

  .footer-container {
    justify-content: flex-end;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 17px;
  }

  .mobile-icons {
    height: 30px;
    opacity: 0.5;
  }
}

@media (max-width: 320px) {

}